:root {
  --boxColor: #ff2626;
  --rotateSpeed: 30s;
  --bounceSpeed: 2s;
  --cubeRotateSpeed: 15s;
  --ringRotateSpeed: 1s;
}

.CV {
  background-color: #000;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 3em);
  font-family: "Tinos", cursive;
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  /* animation: sceneRotate var(--rotateSpeed) infinite linear; */
}
@keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}

.ball_ring {
  transform-style: preserve-3d;
  position: absolute;
  animation: ballBounce var(--bounceSpeed) infinite ease-out;
  /* sceneRotate var(--rotateSpeed) infinite linear reverse; */
}
@keyframes ballBounce {
  0%,
  100% {
    bottom: -0.5em;
  }
  50% {
    bottom: 2.5em;
    animation-timing-function: ease-in;
  }
}

.ball {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #f9f871;
  position: absolute;
  bottom: 1.25em;
  left: -0.5em;
  background-image: radial-gradient(circle at top, #f9f871, #000);
}

.ballShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#0007, #0000 50%);
  animation: ballShadow var(--bounceSpeed) infinite ease-out;
}
@keyframes ballShadow {
  0%,
  8%,
  94%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
}

.ring {
  position: absolute;
  background-image: radial-gradient(
    circle,
    rgba(0, 128, 0, 0) 50%,
    #24dad0 60%,
    rgba(0, 128, 0, 0) 70%
  );
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
  bottom: 1em;
  left: -0.75em;
  animation: ringRotate var(--ringRotateSpeed) infinite linear;
}
@keyframes ringRotate {
  to {
    transform: rotateX(360deg);
  }
}

.cube {
  transform-style: preserve-3d;
  width: 2em;
  height: 2em;
  position: absolute;
  bottom: -1em;
  left: -1em;
  animation: cubeHeight var(--bounceSpeed) infinite ease-out,
    sceneRotate var(--cubeRotateSpeed) infinite linear reverse;
}
@keyframes cubeHeight {
  0%,
  100% {
    height: 1.5em;
  }
  8%,
  94% {
    height: 2em;
  }
}
.cube .left,
.cube .right,
.cube .front,
.cube .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--boxColor);
  opacity: 50%;
  box-shadow: 0 0 0.5em #000 inset;
}
.cube .front {
  transform: translateZ(1em);
}
.cube .right {
  transform: rotateY(90deg) translateZ(1em);
}
.cube .back {
  transform: rotateY(180deg) translateZ(1em);
}
.cube .left {
  transform: rotateY(270deg) translateZ(1em);
}
.cube .top {
  position: absolute;
  width: 2em;
  height: 2em;
  background: var(--boxColor);
  opacity: 50%;
  transform: translateY(-50%) rotateX(90deg);
  box-shadow: 0 0 0.5em #000 inset;
}
.cube .bottom {
  position: absolute;
  width: 2em;
  height: 2em;
  background: #0007;
  bottom: 0;
  transform: translateY(50%) rotateX(90deg);
  box-shadow: 0 0 0.5em #000;
}

.floor {
  position: absolute;
  top: 1em;
  transform: translate(-50%, -50%) rotateX(90deg);
  width: 15em;
  height: 15em;
  background-image: radial-gradient(#0000, #000 65%),
    repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
  background-size: 100%, 1em 1em;
}

.my_name {
  font-size: 0.5em;
}

::-webkit-scrollbar {
  display: none;
}

.cv_div,
.education,
.pre_education,
.works,
.coding_job,
.military_service,
.softwares,
.selfEducation {
  position: absolute;
  padding: 1em;
  color: white;
  font-size: 18px;
}

.cv_div {
  font-size: 24px;
  bottom: 1em;
  text-align: center;
}

.education {
  left: 0;
  top: 7em;
  width: 16em;
  text-align: start;
}

.pre_education {
  top: 0;
  left: 0;
  width: 16em;
  text-align: start;
}

.works {
  width: 20em;
  right: 2em;
  top: 0;
}

.coding_job {
  width: 16em;
  top: 1em;
  right: 23em;
}

.military_service {
  right: 3em;
  bottom: 2em;
}

.softwares {
  width: 14em;
  top: 15em;
  left: 20em;
}
.selfEducation {
  width: 14em;
  top: 0;
  left: 20em;
}

@media only screen and (max-width: 1650px) {
  .CV {
    display: none;
  }
}
