.Home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 3rem;
}

.text_about {
  grid-column-start: 9;
  grid-column-end: 13;
}

@media only screen and (max-width: 900px) {
  .text_about {
    grid-column-start: 2;
    grid-column-end: 13;
  }
}
