body {
  background-image: url("/public/home_back2.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 6.9% 88.1% 5%;
}

/* .App > * {
  border: 1px solid black;
} */

.App > footer,
.App > header {
  grid-column: span 12;
}

.App > main {
  grid-column: span 12;
  overflow: scroll;
}

/* ///////////// @media ////////////////// */

@media only screen and (min-width: 0px) {
  .App {
    grid-template-rows: 6.3% 88.7% 5%;
  }
}
@media only screen and (min-width: 450px) {
  .App {
    grid-template-rows: 6.3% 88.7% 5%;
  }
}
@media only screen and (max-width: 900px) {
  body {
    background-position: 40% 60%;
  }
}

@media only screen and (min-width: 600px) {
  .App {
    grid-template-rows: 7.2% 87.8% 5%;
  }
}
@media only screen and (min-width: 1645px) {
  .App {
    grid-template-rows: 6.9% 88.1% 5%;
  }
}

/* ///////////////////////////////////////////// */
