.App {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 6.9% 88.1% 5%;
}

/* .App > * {
  border: 1px solid black;
} */

.App > footer,
.App > header {
  /* display: flex;
  align-items: center;
  justify-content: center;  */
  grid-column: span 12;
}

.App > main {
  /* padding: 1rem 3rem; */
  grid-column: span 12;
  overflow: scroll;
}
